{% extends "base.html" %}
{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Create Account 🚀</h2>
        <p class="auth-subtitle">
            Start your AI Interview Experience
        </p>

        {% if error %}
            <div class="auth-error">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST" class="auth-form">

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Choose Username</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Choose Password</label>
            </div>

            <button type="submit" class="auth-btn">
                Register
            </button>

        </form>

        <div class="auth-divider">
            <span>OR</span>
        </div>

        <p class="auth-footer">
            Already have an account?
            <a href="/login">Login Here</a>
        </p>

    </div>

</div>

{% endblock %}